<%- include("includes/head.ejs") %>
    <h1>Quora Page</h1>
    <button onclick="window.location.href='http://localhost:8080/posts/new';">Add new</button>
    <div class="post">
       <% for(let post of posts) { %>
        <div class="individualPost">
            <h2>@<%= post.userName %></h2>
            <h4>Age: <%=post.age%></h4>
            <h4>Gender: <%=post.gender%></h4>
            <p><%=post.thought%></p>
            <!-- <a href="http://localhost:8080/posts/">See post</a> -->
            <button onclick="window.location.href='http://localhost:8080/posts/<%=post.id%>';">See Post</button>
            <button onclick="window.location.href='http://localhost:8080/posts/<%=post.id%>/edit';">Edit Post</button>

            <form method="POST" action="/posts/<%=post.id%>?_method=DELETE">
                <button type="submit">Delete post</button>
            </form>
        </div>
        <% } %>
    </div>
</body>
</html>