<%- include("includes/head.ejs") %>

<h1>@<%= post.userName %></h1>
<div class="postPage">
    <h4>id: <%= post.id %></h4>
    <h4>Age: <%= post.age %></h4>
    <h4>Gender: <%= post.gender %></h4>
    <p><h4>Thought:</h4><%= post.thought %></p>
</div>
    
</body>
</html>